# Unsupervised Lab Session

## Learning outcomes:
- Exploratory data analysis and data preparation for model building.
- PCA for dimensionality reduction.
- K-means and Agglomerative Clustering

## Problem Statement
Based on the given marketing campigan dataset, segment the similar customers into suitable clusters. Analyze the clusters and provide your insights to help the organization promote their business.

## Context:
- Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.
- Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

## About dataset
- Source: https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis?datasetId=1546318&sortBy=voteCount

### Attribute Information:
- ID: Customer's unique identifier
- Year_Birth: Customer's birth year
- Education: Customer's education level
- Marital_Status: Customer's marital status
- Income: Customer's yearly household income
- Kidhome: Number of children in customer's household
- Teenhome: Number of teenagers in customer's household
- Dt_Customer: Date of customer's enrollment with the company
- Recency: Number of days since customer's last purchase
- Complain: 1 if the customer complained in the last 2 years, 0 otherwise
- MntWines: Amount spent on wine in last 2 years
- MntFruits: Amount spent on fruits in last 2 years
- MntMeatProducts: Amount spent on meat in last 2 years
- MntFishProducts: Amount spent on fish in last 2 years
- MntSweetProducts: Amount spent on sweets in last 2 years
- MntGoldProds: Amount spent on gold in last 2 years
- NumDealsPurchases: Number of purchases made with a discount
- AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise
- AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise
- AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise
- AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise
- AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise
- Response: 1 if customer accepted the offer in the last campaign, 0 otherwise
- NumWebPurchases: Number of purchases made through the company’s website
- NumCatalogPurchases: Number of purchases made using a catalogue
- NumStorePurchases: Number of purchases made directly in stores
- NumWebVisitsMonth: Number of visits to company’s website in the last month

### 1. Import required libraries

In [27]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,confusion_matrix,roc_curve,accuracy_score,auc,roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.preprocessing import LabelEncoder

### 2. Load the CSV file (i.e marketing.csv) and display the first 5 rows of the dataframe. Check the shape and info of the dataset.

In [3]:
df = pd.read_csv('marketing.csv')
print(df.head(5))
print("Shape of the dataset:", df.shape)
print(df.info())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumCatalogPurchases  NumStorePurchases  \
0    4/9/2012       58       635  ...                   10                  4
1    8/3/2014       38        11  ...                    1                  2
2  21-08-2013       26       426  ...                    2                 10
3   10/2/2014       26        11  ...                    0                  4
4  19-01-2014       94       173  ...                    3                  6

   NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
0                  7             0             0             0             0
1                  5             0             0             0             0
2                  4             0             0             0             0
3                  6             0             0             0             0
4                  5             0             0             0             0

   AcceptedCmp2  Complain  Response
0             0         0         1
1             0         0         0
2             0         0         0
3             0         0         0
4             0         0         0

[5 rows x 27 columns]
Shape of the dataset: (2240, 27)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: float64(1), int64(23), object(3)
memory usage: 472.6+ KB
None

### 3. Check the percentage of missing values? If there is presence of missing values, treat them accordingly.

In [8]:
df = pd.read_csv('marketing.csv')
missing_percentage = (df.isna().mean() * 100).round(2)
print("Percentage of missing values:")
print(missing_percentage)

Percentage of missing values:
ID                     0.00
Year_Birth             0.00
Education              0.00
Marital_Status         0.00
Income                 1.07
Kidhome                0.00
Teenhome               0.00
Dt_Customer            0.00
Recency                0.00
MntWines               0.00
MntFruits              0.00
MntMeatProducts        0.00
MntFishProducts        0.00
MntSweetProducts       0.00
MntGoldProds           0.00
NumDealsPurchases      0.00
NumWebPurchases        0.00
NumCatalogPurchases    0.00
NumStorePurchases      0.00
NumWebVisitsMonth      0.00
AcceptedCmp3           0.00
AcceptedCmp4           0.00
AcceptedCmp5           0.00
AcceptedCmp1           0.00
AcceptedCmp2           0.00
Complain               0.00
Response               0.00
dtype: float64

In [9]:
df = pd.read_csv('marketing.csv')
df_filled = df.fillna(df.mean())
print(df_filled.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumCatalogPurchases  NumStorePurchases  \
0    4/9/2012       58       635  ...                   10                  4
1    8/3/2014       38        11  ...                    1                  2
2  21-08-2013       26       426  ...                    2                 10
3   10/2/2014       26        11  ...                    0                  4
4  19-01-2014       94       173  ...                    3                  6

   NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
0                  7             0             0             0             0
1                  5             0             0             0             0
2                  4             0             0             0             0
3                  6             0             0             0             0
4                  5             0             0             0             0

   AcceptedCmp2  Complain  Response
0             0         0         1
1             0         0         0
2             0         0         0
3             0         0         0
4             0         0         0

[5 rows x 27 columns]

### 4. Check if there are any duplicate records in the dataset? If any drop them.

In [10]:
duplicate_records = df.duplicated()
num_duplicates = duplicate_records.sum()
if num_duplicates > 0:
   
    df = df.drop_duplicates()

    print(f"{num_duplicates} duplicate record(s) found and dropped.")
else:
    print("No duplicate records found.")


print(df.head())

No duplicate records found.
     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumCatalogPurchases  NumStorePurchases  \
0    4/9/2012       58       635  ...                   10                  4
1    8/3/2014       38        11  ...                    1                  2
2  21-08-2013       26       426  ...                    2                 10
3   10/2/2014       26        11  ...                    0                  4
4  19-01-2014       94       173  ...                    3                  6

   NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  \
0                  7             0             0             0             0
1                  5             0             0             0             0
2                  4             0             0             0             0
3                  6             0             0             0             0
4                  5             0             0             0             0

   AcceptedCmp2  Complain  Response
0             0         0         1
1             0         0         0
2             0         0         0
3             0         0         0
4             0         0         0

[5 rows x 27 columns]

### 5. Drop the columns which you think redundant for the analysis

In [11]:
redundant_columns = ['ID', 'Dt_Customer']
df_dropped = df.drop(redundant_columns, axis=1)
print(df_dropped.head())

   Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  Recency  \
0        1957  Graduation         Single  58138.0        0         0       58
1        1954  Graduation         Single  46344.0        1         1       38
2        1965  Graduation       Together  71613.0        0         0       26
3        1984  Graduation       Together  26646.0        1         0       26
4        1981         PhD        Married  58293.0        1         0       94

   MntWines  MntFruits  MntMeatProducts  ...  NumCatalogPurchases  \
0       635         88              546  ...                   10
1        11          1                6  ...                    1
2       426         49              127  ...                    2
3        11          4               20  ...                    0
4       173         43              118  ...                    3

   NumStorePurchases  NumWebVisitsMonth  AcceptedCmp3  AcceptedCmp4  \
0                  4                  7             0             0
1                  2                  5             0             0
2                 10                  4             0             0
3                  4                  6             0             0
4                  6                  5             0             0

   AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response
0             0             0             0         0         1
1             0             0             0         0         0
2             0             0             0         0         0
3             0             0             0         0         0
4             0             0             0         0         0

[5 rows x 25 columns]

### 6. Check the unique categories in the column 'Marital_Status'
- i) Group categories 'Married', 'Together' as 'relationship'
- ii) Group categories 'Divorced', 'Widow', 'Alone', 'YOLO', and 'Absurd' as 'Single'.

In [12]:
unique_categories = df['Marital_Status'].unique()
print("Unique Categories in 'Marital_Status':")
print(unique_categories)
df['Marital_Status'] = df['Marital_Status'].replace(['Married', 'Together'], 'relationship')
df['Marital_Status'] = df['Marital_Status'].replace(['Divorced', 'Widow', 'Alone', 'YOLO', 'Absurd'], 'Single')
unique_categories_updated = df['Marital_Status'].unique()
print("\nUnique Categories in 'Marital_Status' after Grouping:")
print(unique_categories_updated)

Unique Categories in 'Marital_Status':
['Single' 'Together' 'Married' 'Divorced' 'Widow' 'Alone' 'Absurd' 'YOLO']

Unique Categories in 'Marital_Status' after Grouping:
['Single' 'relationship']

### 7. Group the columns 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', and 'MntGoldProds' as 'Total_Expenses'

In [13]:
df['Total_Expenses'] = df[['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts',
                           'MntSweetProducts', 'MntGoldProds']].sum(axis=1)
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation   relationship  71613.0        0         0
3  6182        1984  Graduation   relationship  26646.0        1         0
4  5324        1981         PhD   relationship  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumStorePurchases  NumWebVisitsMonth  \
0    4/9/2012       58       635  ...                  4                  7
1    8/3/2014       38        11  ...                  2                  5
2  21-08-2013       26       426  ...                 10                  4
3   10/2/2014       26        11  ...                  4                  6
4  19-01-2014       94       173  ...                  6                  5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Response  Total_Expenses
0         0         1            1617
1         0         0              27
2         0         0             776
3         0         0              53
4         0         0             422

[5 rows x 28 columns]

### 8. Group the columns 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', and 'NumDealsPurchases' as 'Num_Total_Purchases'

In [14]:
df['Num_Total_Purchases'] = df[['NumWebPurchases', 'NumCatalogPurchases', 
                                'NumStorePurchases', 'NumDealsPurchases']].sum(axis=1)
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation   relationship  71613.0        0         0
3  6182        1984  Graduation   relationship  26646.0        1         0
4  5324        1981         PhD   relationship  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0    4/9/2012       58       635  ...                  7             0
1    8/3/2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3   10/2/2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response  \
0             0             0             0             0         0         1
1             0             0             0             0         0         0
2             0             0             0             0         0         0
3             0             0             0             0         0         0
4             0             0             0             0         0         0

   Total_Expenses  Num_Total_Purchases
0            1617                   25
1              27                    6
2             776                   21
3              53                    8
4             422                   19

[5 rows x 29 columns]

### 9. Group the columns 'Kidhome' and 'Teenhome' as 'Kids'

In [15]:
df['Kids'] = df[['Kidhome', 'Teenhome']].sum(axis=1)
df = df.drop(['Kidhome', 'Teenhome'], axis=1)
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income Dt_Customer  Recency  \
0  5524        1957  Graduation         Single  58138.0    4/9/2012       58
1  2174        1954  Graduation         Single  46344.0    8/3/2014       38
2  4141        1965  Graduation   relationship  71613.0  21-08-2013       26
3  6182        1984  Graduation   relationship  26646.0   10/2/2014       26
4  5324        1981         PhD   relationship  58293.0  19-01-2014       94

   MntWines  MntFruits  MntMeatProducts  ...  AcceptedCmp3  AcceptedCmp4  \
0       635         88              546  ...             0             0
1        11          1                6  ...             0             0
2       426         49              127  ...             0             0
3        11          4               20  ...             0             0
4       173         43              118  ...             0             0

   AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  Response  \
0             0             0             0         0         1
1             0             0             0         0         0
2             0             0             0         0         0
3             0             0             0         0         0
4             0             0             0         0         0

   Total_Expenses  Num_Total_Purchases  Kids
0            1617                   25     0
1              27                    6     2
2             776                   21     0
3              53                    8     1
4             422                   19     1

[5 rows x 28 columns]

### 10. Group columns 'AcceptedCmp1 , 2 , 3 , 4, 5' and 'Response' as 'TotalAcceptedCmp'

In [16]:
df['TotalAcceptedCmp'] = df[['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3',
                             'AcceptedCmp4', 'AcceptedCmp5', 'Response']].sum(axis=1)
df = df.drop(['AcceptedCmp1', 'AcceptedCmp2', 'AcceptedCmp3',
              'AcceptedCmp4', 'AcceptedCmp5', 'Response'], axis=1)
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income Dt_Customer  Recency  \
0  5524        1957  Graduation         Single  58138.0    4/9/2012       58
1  2174        1954  Graduation         Single  46344.0    8/3/2014       38
2  4141        1965  Graduation   relationship  71613.0  21-08-2013       26
3  6182        1984  Graduation   relationship  26646.0   10/2/2014       26
4  5324        1981         PhD   relationship  58293.0  19-01-2014       94

   MntWines  MntFruits  MntMeatProducts  ...  NumDealsPurchases  \
0       635         88              546  ...                  3
1        11          1                6  ...                  2
2       426         49              127  ...                  1
3        11          4               20  ...                  2
4       173         43              118  ...                  5

   NumWebPurchases  NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  \
0                8                   10                  4                  7
1                1                    1                  2                  5
2                8                    2                 10                  4
3                2                    0                  4                  6
4                5                    3                  6                  5

   Complain  Total_Expenses  Num_Total_Purchases  Kids  TotalAcceptedCmp
0         0            1617                   25     0                 1
1         0              27                    6     2                 0
2         0             776                   21     0                 0
3         0              53                    8     1                 0
4         0             422                   19     1                 0

[5 rows x 23 columns]

### 11. Drop those columns which we have used above for obtaining new features

In [ ]:
already dropped

### 12. Extract 'age' using the column 'Year_Birth' and then drop the column 'Year_birth'

In [18]:
current_year = pd.to_datetime('today').year
df['Age'] = current_year - df['Year_Birth']
df = df.drop('Year_Birth', axis=1)
print(df.head())

     ID   Education Marital_Status   Income Dt_Customer  Recency  MntWines  \
0  5524  Graduation         Single  58138.0    4/9/2012       58       635
1  2174  Graduation         Single  46344.0    8/3/2014       38        11
2  4141  Graduation   relationship  71613.0  21-08-2013       26       426
3  6182  Graduation   relationship  26646.0   10/2/2014       26        11
4  5324         PhD   relationship  58293.0  19-01-2014       94       173

   MntFruits  MntMeatProducts  MntFishProducts  ...  NumWebPurchases  \
0         88              546              172  ...                8
1          1                6                2  ...                1
2         49              127              111  ...                8
3          4               20               10  ...                2
4         43              118               46  ...                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  Complain  \
0                   10                  4                  7         0
1                    1                  2                  5         0
2                    2                 10                  4         0
3                    0                  4                  6         0
4                    3                  6                  5         0

   Total_Expenses  Num_Total_Purchases  Kids  TotalAcceptedCmp  Age
0            1617                   25     0                 1   66
1              27                    6     2                 0   69
2             776                   21     0                 0   58
3              53                    8     1                 0   39
4             422                   19     1                 0   42

[5 rows x 23 columns]

### 13. Encode the categorical variables in the dataset

In [32]:
label_encoder = LabelEncoder()
df['Education'] = label_encoder.fit_transform(df['Education'])
df['Marital_Status'] = label_encoder.fit_transform(df['Marital_Status'])
print(df.head())

     ID  Year_Birth  Education  Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957          2               4  58138.0        0         0
1  2174        1954          2               4  46344.0        1         1
2  4141        1965          2               5  71613.0        0         0
3  6182        1984          2               5  26646.0        1         0
4  5324        1981          4               3  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumStorePurchases  NumWebVisitsMonth  \
0    4/9/2012       58       635  ...                  4                  7
1    8/3/2014       38        11  ...                  2                  5
2  21-08-2013       26       426  ...                 10                  4
3   10/2/2014       26        11  ...                  4                  6
4  19-01-2014       94       173  ...                  6                  5

   AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0             0             0             0             0             0
1             0             0             0             0             0
2             0             0             0             0             0
3             0             0             0             0             0
4             0             0             0             0             0

   Complain  Response  Cluster
0         0         1        0
1         0         0        1
2         0         0        0
3         0         0        1
4         0         0        0

[5 rows x 28 columns]

### 14. Standardize the columns, so that values are in a particular range

In [19]:
columns_to_standardize = ['Income', 'Total_Expenses', 'Num_Total_Purchases']
scaler = StandardScaler()
df[columns_to_standardize] = scaler.fit_transform(df[columns_to_standardize])
print(df.head())

     ID   Education Marital_Status    Income Dt_Customer  Recency  MntWines  \
0  5524  Graduation         Single  0.234063    4/9/2012       58       635
1  2174  Graduation         Single -0.234559    8/3/2014       38        11
2  4141  Graduation   relationship  0.769478  21-08-2013       26       426
3  6182  Graduation   relationship -1.017239   10/2/2014       26        11
4  5324         PhD   relationship  0.240221  19-01-2014       94       173

   MntFruits  MntMeatProducts  MntFishProducts  ...  NumWebPurchases  \
0         88              546              172  ...                8
1          1                6                2  ...                1
2         49              127              111  ...                8
3          4               20               10  ...                2
4         43              118               46  ...                5

   NumCatalogPurchases  NumStorePurchases  NumWebVisitsMonth  Complain  \
0                   10                  4                  7         0
1                    1                  2                  5         0
2                    2                 10                  4         0
3                    0                  4                  6         0
4                    3                  6                  5         0

   Total_Expenses  Num_Total_Purchases  Kids  TotalAcceptedCmp  Age
0        1.679417             1.320826     0                 1   66
1       -0.961275            -1.154596     2                 0   69
2        0.282673             0.799685     0                 0   58
3       -0.918094            -0.894025     1                 0   39
4       -0.305254             0.539114     1                 0   42

[5 rows x 23 columns]

### 15. Apply PCA on the above dataset and determine the number of PCA components to be used so that 90-95% of the variance in data is explained by the same.

In [39]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
columns_for_pca = ['Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits',
                          'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
                          'NumWebVisitsMonth']
df = df.dropna(subset=columns_for_pca)
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna(subset=columns_for_pca)
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[columns_for_pca])
pca = PCA()
pca.fit(df_scaled)
cumulative_variance = np.cumsum(pca.explained_variance_ratio_)
n_components_90 = np.argmax(cumulative_variance >= 0.9) + 1
n_components_95 = np.argmax(cumulative_variance >= 0.95) + 1
print(f"Number of components for 90% explained variance: {n_components_90}")
print(f"Explained variance with {n_components_90} components: {cumulative_variance[n_components_90-1]}")
print(f"Number of components for 95% explained variance: {n_components_95}")
print(f"Explained variance with {n_components_95} components: {cumulative_variance[n_components_95-1]}")

Number of components for 90% explained variance: 8
Explained variance with 8 components: 0.9072081565519596
Number of components for 95% explained variance: 10
Explained variance with 10 components: 0.9733824180692581

### 16. Apply K-means clustering and segment the data (Use PCA transformed data for clustering)

In [24]:
columns_for_pca = ['Income', 'Total_Expenses', 'Num_Total_Purchases']
df = df.dropna(subset=columns_for_pca)
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna(subset=columns_for_pca)
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df[columns_for_pca])
pca = PCA(n_components=2)  
pca_transformed = pca.fit_transform(df_scaled)
kmeans = KMeans(n_clusters=3)
kmeans.fit(pca_transformed)
cluster_labels = kmeans.labels_
df['Cluster'] = cluster_labels
print(df.head(

     ID   Education Marital_Status    Income Dt_Customer  Recency  MntWines  \
0  5524  Graduation         Single  0.234063    4/9/2012       58       635
1  2174  Graduation         Single -0.234559    8/3/2014       38        11
2  4141  Graduation   relationship  0.769478  21-08-2013       26       426
3  6182  Graduation   relationship -1.017239   10/2/2014       26        11
4  5324         PhD   relationship  0.240221  19-01-2014       94       173

   MntFruits  MntMeatProducts  MntFishProducts  ...  NumCatalogPurchases  \
0         88              546              172  ...                   10
1          1                6                2  ...                    1
2         49              127              111  ...                    2
3          4               20               10  ...                    0
4         43              118               46  ...                    3

   NumStorePurchases  NumWebVisitsMonth  Complain  Total_Expenses  \
0                  4                  7         0        1.679417
1                  2                  5         0       -0.961275
2                 10                  4         0        0.282673
3                  4                  6         0       -0.918094
4                  6                  5         0       -0.305254

   Num_Total_Purchases  Kids  TotalAcceptedCmp  Age  Cluster
0             1.320826     0                 1   66        1
1            -1.154596     2                 0   69        2
2             0.799685     0                 0   58        1
3            -0.894025     1                 0   39        2
4             0.539114     1                 0   42        0

[5 rows x 24 columns]

### 17. Apply Agglomerative clustering and segment the data (Use Original data for clustering), and perform cluster analysis by doing bivariate analysis between the cluster label and different features and write your observations.

In [35]:
df = pd.read_csv('marketing.csv')
columns_for_clustering = ['Income', 'Kidhome', 'Teenhome', 'Recency', 'MntWines', 'MntFruits',
                          'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
                          'NumWebVisitsMonth']
df = df.dropna(subset=columns_for_clustering)
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna(subset=columns_for_clustering)
agglomerative = AgglomerativeClustering(n_clusters=3)  
cluster_labels = agglomerative.fit_predict(df[columns_for_clustering])
df['Cluster'] = cluster_labels
cluster_features = ['Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Recency',
                    'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts',
                    'MntSweetProducts', 'MntGoldProds', 'NumWebVisitsMonth']
for feature in cluster_features:
    analysis = df.groupby(['Cluster', feature]).size().reset_index(name='Count')
    print(f"Bivariate analysis between Cluster and {feature}:")
    print(analysis)
    print()

Bivariate analysis between Cluster and Education:
   Cluster   Education  Count
0        0    2n Cycle     87
1        0  Graduation    577
2        0      Master    184
3        0         PhD    286
4        1    2n Cycle    113
5        1       Basic     54
6        1  Graduation    538
7        1      Master    181
8        1         PhD    195
9        2  Graduation      1

Bivariate analysis between Cluster and Marital_Status:
    Cluster Marital_Status  Count
0         0         Absurd      2
1         0          Alone      1
2         0       Divorced    123
3         0        Married    446
4         0         Single    222
5         0       Together    292
6         0          Widow     48
7         1          Alone      2
8         1       Divorced    109
9         1        Married    411
10        1         Single    249
11        1       Together    280
12        1          Widow     28
13        1           YOLO      2
14        2       Together      1

Bivariate analysis between Cluster and Income:
      Cluster    Income  Count
0           0   50611.0      2
1           0   50664.0      1
2           0   50725.0      1
3           0   50729.0      1
4           0   50737.0      1
...       ...       ...    ...
1969        1   50501.0      1
1970        1   50520.0      1
1971        1   50523.0      1
1972        1   50616.0      2
1973        2  666666.0      1

[1974 rows x 3 columns]

Bivariate analysis between Cluster and Kidhome:
   Cluster  Kidhome  Count
0        0        0    958
1        0        1    166
2        0        2     10
3        1        0    325
4        1        1    720
5        1        2     36
6        2        1      1

Bivariate analysis between Cluster and Teenhome:
   Cluster  Teenhome  Count
0        0         0    536
1        0         1    569
2        0         2     29
3        1         0    610
4        1         1    449
5        1         2     22
6        2         0      1

Bivariate analysis between Cluster and Recency:
     Cluster  Recency  Count
0          0        0     15
1          0        1     13
2          0        2     14
3          0        3     18
4          0        4     15
..       ...      ...    ...
196        1       96     11
197        1       97     11
198        1       98      9
199        1       99     10
200        2       23      1

[201 rows x 3 columns]

Bivariate analysis between Cluster and MntWines:
     Cluster  MntWines  Count
0          0         1      2
1          0         2      1
2          0         5      1
3          0         6      1
4          0         8      2
..       ...       ...    ...
920        1       777      1
921        1       853      1
922        1      1039      1
923        1      1181      1
924        2         9      1

[925 rows x 3 columns]

Bivariate analysis between Cluster and MntFruits:
     Cluster  MntFruits  Count
0          0          0    141
1          0          1     19
2          0          2     13
3          0          3     12
4          0          4     20
..       ...        ...    ...
214        1        104      1
215        1        122      1
216        1        133      1
217        1        151      1
218        2         14      1

[219 rows x 3 columns]

Bivariate analysis between Cluster and MntMeatProducts:
     Cluster  MntMeatProducts  Count
0          0                1      1
1          0                2      1
2          0                3      3
3          0                4      3
4          0                5      2
..       ...              ...    ...
681        1              243      1
682        1              248      1
683        1              267      2
684        1             1725      1
685        2               18      1

[686 rows x 3 columns]

Bivariate analysis between Cluster and MntFishProducts:
     Cluster  MntFishProducts  Count
0          0                0    131
1          0                1      4
2          0                2     18
3          0                3     14
4          0                4     16
..       ...              ...    ...
249        1              175      1
250        1              179      1
251        1              197      1
252        1              208      1
253        2                8      1

[254 rows x 3 columns]

Bivariate analysis between Cluster and MntSweetProducts:
     Cluster  MntSweetProducts  Count
0          0                 0    156
1          0                 1     15
2          0                 2     13
3          0                 3     14
4          0                 4     15
..       ...               ...    ...
231        1               112      1
232        1               129      1
233        1               151      1
234        1               157      1
235        2                 1      1

[236 rows x 3 columns]

Bivariate analysis between Cluster and MntGoldProds:
     Cluster  MntGoldProds  Count
0          0             0     30
1          0             1      8
2          0             2      7
3          0             3      3
4          0             4     13
..       ...           ...    ...
315        1           219      1
316        1           262      1
317        1           291      1
318        1           321      1
319        2            12      1

[320 rows x 3 columns]

Bivariate analysis between Cluster and NumWebVisitsMonth:
    Cluster  NumWebVisitsMonth  Count
0         0                  0      9
1         0                  1    148
2         0                  2    188
3         0                  3    169
4         0                  4    157
5         0                  5    147
6         0                  6    139
7         0                  7     96
8         0                  8     73
9         0                  9      8
10        1                  0      1
11        1                  1      2
12        1                  2     13
13        1                  3     34
14        1                  4     60
15        1                  5    132
16        1                  6    195
17        1                  7    291
18        1                  8    267
19        1                  9     74
20        1                 10      3
21        1                 13      1
22        1                 14      2
23        1                 17      1
24        1                 19      2
25        1                 20      3
26        2                  6      1

### Visualization and Interpretation of results

-----
## Happy Learning
-----